a {
  text-decoration: none;
  color: #da1f1f;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: white;
}

html {
  font-size: 62.5%;
	font-family: sans-serif;
}
html
body {
	margin: 0;
	padding: 0;
}
.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}
.section {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}
span.button,
a.button {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 5rem;
  height: 5rem;
  padding: 0 4.5rem;
  margin-top: 2.5rem;
  border-radius: 2.5rem;
  background-color: #1b1b1b;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
}
span.button:hover,
a.button:hover {
  background-color: #2e373c;
  cursor: pointer;
}
a.button.red {
  background-color: #da1f1f;
}
a.button.red:hover {
  background-color: white;
  color: #191c21;
}
a.button.grey {
  background-color: #2e373c;
}
a.button.grey:hover {
  background-color: #da1f1f;
}
p, .section {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
  line-height: 2.6rem;
}
/*===HEADER===*/
header {
  width: 100%;
  height: 11rem;
  position: fixed;
  top: 0;
  transition: 0.2s ease;
  z-index: 999;
}
header .container {
  position: relative;
  max-width: 100%;
  padding-left: 8rem;
  padding-right: 21rem;
  height: 100%;
}
a.logo {
  position: absolute;
  bottom: 0;
  transition: 0.2s ease;
  width: 142px;
}
a.logo img {
  width: 100%;
}
.nav-menu {
  line-height: 5.3rem;
  position: absolute;
  right: 12rem;
  bottom: 0;
  transition: 0.2s;
}
.nav-menu ul {
  list-style-type: none;
}
.nav-menu ul li {
  display: inline-block;
}
.nav-menu ul li a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0 3rem;
  transition: 0.2s;
}
.nav-menu ul li a:hover {
  color: #1b1b1b;
}
header a.tickets-btn {
  position: absolute;
  top: 44px;
  right: 95px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 3rem;
  display: inline-block;
  line-height: 5rem;
  height: 5rem;
  padding: 0 4.5rem;
  border-radius: 2.5rem;
  background-color: #1b1b1b;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
  transform: scaleX(0);
  transform-origin: right;
}
header a.tickets-btn:hover {
  background-color: white;
  color: #da1f1f;
}
header a.facebook-icon {
  height: 3.3rem;
  width: 5rem;
  position: absolute;
  top: 62px;
  right: 10px;
  text-align: center;
  transition: 0.2s;
}
header a.facebook-icon:hover svg path {
  fill: #191c21;
}
header a.facebook-icon svg {
  width: 30px;
  height: 3.3rem;
  transition: 0.2s;
}
header a.facebook-icon svg path {
  transition: 0.2s;
}
header.fixed a.arrows-button {
  top: 19px;
}
header a.arrows-button {
  height: 3.3rem;
  width: 5rem;
  position: absolute;
  top: 62px;
  right: 55px;
  text-align: center;
  transition: 0.2s;
}
header a.arrows-button:hover svg path {
  fill: #191c21;
}
header a.arrows-button svg {
  width: 30px;
  height: 3.3rem;
  transition: 0.2s;
}
header a.arrows-button svg path {
  transition: 0.2s;
}
header.fixed a.facebook-icon {
  top: 19px;
}
header a.tickets-btn.fixed {
  transform: scaleX(1);
  margin-left: 0;
}
header.fixed a.tickets-btn {
  top: 12px;
}
header.fixed {
  background-color: #da1f1f;
  height: 8rem;
}
header.fixed a.logo {
  width: 95px;
  bottom: 1.75rem;
}
@media screen and (max-width: 1370px) {
  header.fixed a.logo {
    bottom: 0.8rem;
  }
}
header.fixed a.logo img {
  width: 100%;
}
header.fixed .nav-menu {
  line-height: 8rem;
}
@media screen and (min-width: 761px) {
  .nav-menu.fixed {
    right: 31rem;
  }
}
.menu-button {
  display: none;
  position: absolute;
  top: 1.9rem;
  right: 13rem;
  width: 5.5rem;
  padding: 0.1rem 0.7rem;
  z-index: 331;
}
.menu-button div {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  background-color: #fff;
}
/* uvod */
.uvod {
  width: 100%;
  height: 100vh;
  background-color: #da1f1f;
  position: relative;
}
@media screen and (max-width: 890px) {
  .uvod {
    height: auto;
    background-image: url(../images/cr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
}
.uvod .container {
  position: relative;
  height: 100vh;
}
.uvod .inner {
  position: absolute;
  left: 0;
  bottom: 8.3%;
  width: 40%;
  z-index: 99;
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
  line-height: 2.6rem;
}
@media screen and (max-width: 890px) {
  .uvod .inner {
    position: static;
    width: 100%;
    text-align: center;
  }
}
.uvod .inner a.button:hover {
  background-color: #2e373c;
}
h1 {
  font-size: 7.5rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 5.5rem;
  }
}
.uvod h2 {
  color: white;
  font-weight: 700;
  color: white;
  font-size: 2.6rem;
  line-height: 42px;
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 375px;
  text-transform: initial;
}
@media screen and (max-width: 890px) {
  .uvod h2 {
    margin: 0 auto;
    background: no-repeat;
  }
}
.map-content {
  width: 110rem;
  height: 70rem;
  position: absolute;
  right: 2rem;
  top: 8rem;
  background-image: url('../images/cr.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 890px) {
  .map-content {
    display: none;
  }
}
.mobile-wrap {
  position: relative;
  width: 520px;
  height: 336px;
  left: 50%;
  top: 34%;
  transform: translateX(-50%);
  background-image: url('../images/mobil.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 890px) {
  .mobile-wrap {
    display: none;
  }
}
.mobile-small {
  display: none;
  margin: 0 auto;
  max-width: 350px;
  width: 90%;
}
@media screen and (max-width: 890px) {
  .mobile-small {
    display: block;
  }
}
.plane {
  position: absolute;
  left: 28%;
  top: -4%;
  width: 20%;
  height: 26%;
  background-image: url('../images/plane.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: landing 3s ease-out;
}
@media screen and (max-width: 890px) {
  .plane {
    display: none;
  }
}
.marker {
  position: absolute;
  left: 77%;
  top: 20%;
  width: 16%;
  height: 39%;
  background-image: url('../images/pointer.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: bounce 2s infinite;
}
@media screen and (max-width: 890px) {
  .marker {
    display: none;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes landing {
  0% {
    left: 52%;
    top: -37%;
  }
  100% {
    left: 28%;
    top: -4%;
  }
}
/* program */
.program {
  padding: 12rem 0;
  background-color: #191c21;
}
.program:before {
  position: absolute;
  content: "";
  left: 75%;
  top: -3rem;
  width: 9rem;
  height: 9rem;
  background-color: #191c21;
  border-radius: 4.5rem;
}
.program:after {
  position: absolute;
  content: "";
  transform: translateX(80%);
  left: 75%;
  top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5rem 1.75rem 0 1.75rem;
  border-color: #da1f1f transparent transparent transparent;
}
@media screen and (max-width: 830px) {
  .program {
    padding: 8rem 0;
  }
}
.program .left-col {
  text-align: center;
}
@media screen and (max-width: 830px) {
  .program .left-col {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  .program .right-col {
    width: 100%;
    padding: 0 2rem;
  }
}
h2 {
  color: white;
  font-size: 6rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
.program h2 {
  max-width: 470px;
  line-height: 45px;
  background-image: url('../images/os-icons.png');
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (max-width: 422px) {
  .program h2 {
    background: none;
  }
}
h3 {
  color: #da1f1f;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5.5rem;
}
.time-wrap {
  margin-top: 4rem;
}
.time-wrap .polozka-item {
  position: relative;
  margin-bottom: 1.5rem;
}
.time-wrap .polozka-item:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 13rem;
  height: 4.3rem;
  border: 0.1rem solid red;
  border-radius: 25px;
  transition: 0.3s ease;
}
@media screen and (max-width: 430px) {
  .time-wrap .polozka-item:before {
    width: 100%;
  }
}
.time-wrap .polozka-item:hover:before {
  width: 100%;
}
.time-wrap p.time {
  display: inline-block;
  vertical-align: top;
  line-height: 4.3rem;
  width: 13rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
}
@media screen and (max-width: 430px) {
  .time-wrap p.time {
    display: block;
    width: 100%;
  }
}
.time-wrap .content {
  display: inline-block;
}
.time-wrap .content p:nth-of-type(1) {
  line-height: 4.3rem;
  margin-left: 15px;
}
.time-wrap .content ul {
  list-style-type: none;
}
.time-wrap .content ul li {
  position: relative;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #767676;
}
.time-wrap .content ul li:before {
  position: absolute;
  content: "";
  display: block;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #da1f1f;
}
/* SPEAKERs */
.speakers {
  padding: 8rem 2rem;
  background-color: #2e373c;
}
.speakers:before {
  position: absolute;
  content: "";
  left: 20%;
  top: -3rem;
  width: 9rem;
  height: 9rem;
  background-color: #2e373c;
  border-radius: 4.5rem;
}
.speakers:after {
  position: absolute;
  content: "";
  transform: translateX(80%);
  left: 20%;
  top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5rem 1.75rem 0 1.75rem;
  border-color: #191c21 transparent transparent transparent;
}
@media screen and (max-width: 1000px) {
  .speakers {
    padding: 8rem 2rem;
  }
}
.speakers-slider {
  margin-top: 8.5rem;
}
.speaker-item {
  width: 290px;
  background: #da1f1f;
  border-radius: 20px;
  text-align: center;
  padding: 3rem 0;
  margin: 0 3.5rem;
  padding-bottom: 4.5rem;
  position: relative;
  /*@media screen and (max-width: 385px) {
   width: 90%;
   margin: 0 auto;
   margin-bottom: 2rem;
   }*/
}
.speaker-item p.name {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 900;
  color: white;
}
.speaker-item p.position {
  font-size: 1.8rem;
  line-height: 2rem;
  color: black;
  font-weight: 500;
}
.speaker-item .content {
  text-align: left;
  font-weight: 300;
  margin: 1.5rem 3.5rem;
}
.speaker-item .more {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: underline;
  transition: 0.2s;
}
.speaker-item .more:hover {
  color: #191c21;
}
.obrazek {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-position: center;
}
@media screen and (max-width: 465px) {
  .obrazek {
    width: 150px;
    height: 150px;
  }
}
.slick-list {
  width: 90%;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
.arrow {
  position: absolute;
  z-index: 100;
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  transition: 0.2s;
  /*@media screen and (max-width: 385px) {
   display: none !important;
   }*/
}
.arrow:hover {
  border-color: white;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.arrow.prev {
  left: 5%;
  transform: rotate(45deg);
}
.arrow.next {
  right: 5%;
  transform: rotate(-135deg);
}
.socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
.socials a {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 5px;
}
.socials a path {
  fill: white;
  transition: 0.2s;
}
.socials a:hover path {
  fill: #191c21;
}
/* previous year */
.previous {
  padding: 13rem 0;
  color: #191c21;
  text-align: center;
}
.previous h2 {
  color: #444;
}
.previous .previous-slider {
  margin-top: 7rem;
}
.previous .arrow {
  /*@media screen and (max-width: 540px) {
   display: none !important;
   }*/
}
.previous .arrow:hover {
  border-color: #da1f1f;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.previous .previous-item {
  margin: 0 20px;
}
.previous .previous-item img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.2;
  transform: scale(0.7);
  transition: 0.2s;
}
@media screen and (max-width: 540px) {
  .previous .previous-item img {
    margin-bottom: 2rem;
  }
}
.previous .previous-item.slick-active.zoomed img {
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;
  opacity: 1;
  transform: scale(1);
  transition: 0.2s;
}
@media screen and (max-width: 1145px) {
  .previous .previous-item img {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
    opacity: 1;
    transform: scale(1);
    transition: 0.2s;
  }
  .slick-list {
    width: 100%;
  }
}
.previous:before {
  position: absolute;
  content: "";
  left: 50%;
  top: -7rem;
  width: 9rem;
  height: 9rem;
  background-color: #2e373c;
  border-radius: 4.5rem;
  transform: translateX(-50%);
}
@media screen and (max-width: 470px) {
  .previous:before {
    display: none;
  }
}
.previous:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5rem 1.75rem 0 1.75rem;
  border-color: #191c21 transparent transparent transparent;
}
@media screen and (max-width: 470px) {
  .previous:after {
    display: none;
  }
}
/* visit brno */
.visit-brno {
  background-color: #2e373c;
  padding: 7rem 0;
}
@media screen and (max-width: 815px) {
  .visit-brno {
    padding-bottom: 0 !important;
    margin-bottom: -10px;
  }
}
.visit-brno .container {
  max-width: 1045px;
}
.visit-brno .left-col {
  text-align: left;
}
@media screen and (max-width: 815px) {
  .visit-brno .left-col {
    width: 100%;
    text-align: center;
  }
}
.visit-brno .right-col {
  position: relative;
  height: 54rem;
}
@media screen and (max-width: 815px) {
  .visit-brno .right-col {
    width: 100%;
    margin-top: 20px;
  }
}
.mapa-cover {
  position: absolute;
  z-index: 99;
  right: 39rem;
  bottom: 0;
  width: 41rem;
  height: 32rem;
  background-image: url('../images/mapa-cover.png');
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 815px) {
  .mapa-cover {
    right: 0;
  }
}
@media screen and (max-width: 555px) {
  .mapa-cover {
    display: none;
  }
}
#map {
  position: absolute;
  width: 53rem;
  height: 53rem;
  border-radius: 30rem;
  border: 10px solid rgba(25, 28, 33, 0.6);
  z-index: 90;
  right: 0;
}
@media screen and (max-width: 815px) {
  #map {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}
/* meet up */
.meet-up {
  padding: 12rem 0;
  background-color: #191c21;
  font-size: 0;
  /*.container {
   position: relative;
   padding: 0 405px;
   }
   h2 {
   font-size: 3rem;
   line-height: 5rem;
   color: #5b6b74;
   display: inline-block;
   //width: 33%;
   position: absolute;
   left: -60px;
   @media screen and (max-width: 1415px) {
   left: 2rem;
   }
   }*/
}
.meet-up .left-col {
  text-align: center;
  float: none;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 695px) {
  .meet-up .left-col {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .meet-up .left-col {
    display: none;
  }
}
.meet-up .right-col {
  float: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
}
@media screen and (max-width: 695px) {
  .meet-up .right-col {
    width: 100%;
    text-align: center;
  }
}
/*partner */
.partner {
  padding: 7rem 0;
  background-color: #157686;
}
@media screen and (max-width: 680px) {
  .partner {
    padding: 2rem;
  }
}
.partner .container {
  font-size: 0;
}
.partner .left-col {
  text-align: left;
  float: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
}
@media screen and (max-width: 680px) {
  .partner .left-col {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
.partner .right-col {
  float: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .partner .right-col {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .partner .right-col img {
    width: 50%;
    margin: 0 auto;
  }
}
/*===404=========*/
.error-wrap-404 {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}
/*===footer======*/
footer {
  height: 5rem;
  line-height: 5rem;
  position: relative;
  background-color: #004652;
}
.povinne-info {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  top: 0;
}
.madeby {
  position: absolute;
  width: 48%;
  text-align: right;
  right: 2rem;
  top: 0;
  height: 5rem;
  line-height: 5rem;
  color: white;
  float: right;
  font-size: 1rem;
}
.madeby a {
  color: white;
  transition: 0.2s;
}
.madeby a:hover {
  color: #da1f1f;
}
.madeby img {
  margin-left: 5px;
  vertical-align: text-bottom;
  width: 17px !important;
  height: 17px !important;
}
.madeby {
  position: absolute;
  width: 48%;
  text-align: right;
  right: 2rem;
  top: 0;
  height: 5rem;
  line-height: 5rem;
  color: white;
  float: right;
  font-size: 1rem;
}
.madeby a {
  color: white;
}
.madeby a:hover {
  color: red;
}
.madeby img {
  margin-left: 5px;
  vertical-align: text-bottom;
  width: 17px !important;
  height: 17px !important;
}
@media screen and (max-width: 600px) {
  footer {
    height: 6rem;
  }
  .madeby {
    position: static;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    height: auto;
  }
  .povinne-info {
    position: static;
    height: auto;
    line-height: 3rem;
  }
}
.eu-cookies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: Menu;
  align-items: center;
  color: GrayText;
  padding: 5px;
  z-index: 1000;
  position: relative;
}
.eu-cookies, .eu-cookies span, .eu-cookies a {
  font-size: 12px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.eu-cookies span {
  padding-right: 5px;
}
.eu-cookies a, .eu-cookies a:hover, .eu-cookies a:visited, .eu-cookies a:active, .eu-cookies a:focus {
  color: GrayText;
  text-decoration: underline;
}
.eu-cookies button {
  flex-shrink: 0;
  cursor: pointer;
  font-weight: 0.9em;
}
